html, body {
    margin:0;
    padding:0;
}
.player{
    border:solid;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 99%;
    height: 8.95vh;
}
.option{
    display: block;
    float: left;
    border: solid black;
    width: 10%;
    height: 8.5vh;
    margin: none;
    padding: none;
}
.option:hover{
    background-color: gray;
}
#tools{
    width: 40%;
}
#ping{

}
#main-screen{
    border: solid black;
    margin: none;
    padding:  none;
    width: 85%;
    height: 90vh;
    display: block;
    float: left;
    overflow: hidden;
}
#tool-bar{
    border: solid black;
    margin: none;
    margin-top: -5px;
    margin-bottom: -10px;
    padding:  none;
    width: 85.2%;
    height: 9vh;
    display: block;
    float: left;
}
#side-screen{
    border: solid black;
    margin: none;
    padding:  none;
    margin-left: -3px;
    border-bottom: none;
    width: 12.3%;
    height: 90.6vh;   
    display: inline-block;
}
#countdown-bar{
    background-color: red;
    width: 1.5%;
    border: solid black;
    border-top-style: solid;
    border-top-color: white; /*Going to use border-top-width and height to make a moving bar*/
    border-top-width: 0px;
    height: 90.6vh;
    margin: none;
    padding:  none;
    float: left;
    display:block; 
}
#pfp{
    border:solid;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 99%;
    height: 35vh;
}
#spacer{
    display: block;
    float: left;
    width: 14.1%;
    height: 9vh;
    background-color: black;
    padding: none;
    margin: none;
}