html, body {
    margin:0;
    padding:0;
}
.player-tab{
    border:solid;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 99%;
    height: 8.95vh;
    user-select: none
}
.player{
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    display: block;
    z-index: 55;
    position: absolute;
    margin: 0;
    padding: 0;
    zoom: 100%;
    top: 0px;
    left: 0px;
}
.monster{
    border-radius:50%;
    display:block;
    position:absolute;
    z-index: 54;
    zoom: 100%;
}
.option{
    display: block;
    float: left;
    border: solid black;
    width: 10%;
    height: 8.5vh;
    margin: none;
    padding: none;
    user-select: none;
}
.option:hover{
    background-color: gray;
    transition: 0.5s;
    cursor: pointer;
}
.tool-pic{
    margin-top: 5%;
    margin-left: 25%;
    text-align: center;
    width:auto;
    height:90%;
}
.grid{
    margin:0;
	padding:0;
	border: none;
	outline:1px dotted #000;
	display: none;
    position:absolute;
    z-index: 999;
    zoom: 100%;
}
.pfp-display{
    width:100%;
    height: 60%;
    display: block;
    overflow:hidden
}
#main-screen{
    border: solid black;
    margin: none;
    padding:  none;
    width: 85%;
    height: 90vh;
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
}
#map{
    zoom: 100%;
    z-index: 50;
    position: relative;
}
#tool-bar{
    border: solid black;
    margin: none;
    margin-top: -5px;
    margin-bottom: -10px;
    padding:  none;
    width: 85.2%;
    height: 9vh;
    display: block;
    float: left;
}

#side-screen{
    border: solid black;
    margin: none;
    padding:  none;
    margin-left: -3px;
    border-bottom: none;
    width: 12%;
    height: 90.6vh;   
    display: inline-block;
}
#countdown-bar{
    background-color: rgb(0, 255, 0);
    width: 1.5%;
    border: solid black;
    border-top-style: solid;
    border-top-color: white; /*Going to use border-top-width and height to make a moving bar*/
    border-top-width: 0px;
    height: 90.6vh;
    margin: none;
    padding:  none;
    float: left;
    display:block; 
}
#pfp{
    border:solid;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 99%;
    height: 35vh;
}
#spacer{
    display: block;
    float: left;
    width: 14.1%;
    height: 9.05vh;
    background-color: black;
    padding: none;
    margin: none;
}
#canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 999;
}
#echo{
    color: white;
    background-color: white;
}