html, body {
    margin:0;
    padding:0;
}
.player{
    border:solid;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 99%;
    height: 10vh;
}
#main-screen{
    border: solid black;
    margin: none;
    padding:  none;
    width: 85%;
    height: 90vh;
    display: block;
    float: left;
}
#tool-bar{
    border: solid black;
    margin: none;
    margin-top: -5px;
    margin-bottom: -10px;
    padding:  none;
    width: 85%;
    height: 9vh;
    display: block;
    float: left;
    border-right-width: 30px
}
#side-screen{
    border: solid black;
    margin: none;
    padding:  none;
    margin-left: -3px;
    width: 13%;
    height: 99.35vh;   
    float: right;
    display: block;
}
#countdown-bar{
    background-color: red;
    width: 1.5%;
    border-top-style: solid;
    border-top-color: white; /*Going to use border-top-width and height to make a moving bar*/
    border-top-width: 0px;
    height: 910px;
    margin: none;
    padding:  none;
    float: left;
    display:block; 
}
#pfp{
    border:solid;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 99%;
    height: 37.5vh;
}